apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "backend.fullname" . }}
  labels:
    app: backend
    chart: backend
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount | default 1 }}
  selector:
    matchLabels:
      app: backend
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: backend
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: backend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 3000

          env:
            - name: MONGO_URL
              value: {{ .Values.env.MONGO_URL | quote }}
            - name: FRONTEND_ORIGIN
              value: {{ .Values.env.FRONTEND_ORIGIN | quote }}

          livenessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 20
            periodSeconds: 10            
            timeoutSeconds: 2
            failureThreshold: 3


          readinessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 20
            periodSeconds: 5            
            timeoutSeconds: 2
            successThreshold: 1
            failureThreshold: 10 


          {{- if .Values.persistence.enabled }}
          volumeMounts:
            - name: data-volume
              mountPath: {{ .Values.persistence.mountPath }}
          {{- end }}

          {{- if .Values.resources }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- end }}

      {{- if .Values.persistence.enabled }}
      volumes:
        - name: data-volume
          persistentVolumeClaim:
            claimName: backend-pvc
      {{- end }}