apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: MONGO_URL
              value: {{ .Values.env.MONGO_URL | quote }}
          ports:
            - containerPort: {{ .Values.service.port }}

          {{- if (index .Values "persistence" "enabled" | default false) }}
          volumeMounts:
            - name: {{ (index .Values "persistence" "volumeName") }}
              mountPath: {{ (index .Values "persistence" "mountPath") }}
              {{- if (index .Values "persistence" "subPath") }}
              subPath: {{ (index .Values "persistence" "subPath") }}
              {{- end }}
          {{- end }}

      {{- if (index .Values "persistence" "enabled" | default false) }}
      volumes:
        - name: {{ (index .Values "persistence" "volumeName") }}
          persistentVolumeClaim:
            claimName: {{ (index .Values "persistence" "existingClaim") | default (printf "%s-%s" (include "backend.fullname" .) "pvc") }}
      {{- end }}
