apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: MONGO_URL
              value: {{ .Values.env.MONGO_URL | quote }}
          ports:
            - containerPort: {{ .Values.service.port }}

          {{- if (dig "persistence" "enabled" false .Values) }}
          volumeMounts:
            - name: {{ (dig "persistence" "volumeName" "" .Values) | default "backend-data" }}
              mountPath: {{ (dig "persistence" "mountPath" "" .Values) | default "/app/data" }}
              {{- if (dig "persistence" "subPath" "" .Values) }}
              subPath: {{ (dig "persistence" "subPath" "" .Values) }}
              {{- end }}
          {{- end }}

      {{- if (dig "persistence" "enabled" false .Values) }}
      volumes:
        - name: {{ (dig "persistence" "volumeName" "" .Values) | default "backend-data" }}
          persistentVolumeClaim:
            claimName: {{ (dig "persistence" "existingClaim" "" .Values) | default (printf "%s-%s" (include "backend.fullname" .) "pvc") }}
      {{- end }}
