# Terraform local state & caches
.terraform/
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Common OS/editor noise
.DS_Store
Thumbs.db

# Avoid committing random binaries
*.exe
*.zip
*.tar
*.tar.gz