replicaCount: 1

image:
  repository: mongo
  tag: "6"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 27017


persistence:
  enabled: true
  storageClass: default
  size: 20Gi
  accessModes:
    - ReadWriteOnce
  mountPath: /data/db
  existingClaim: ""

