services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.txt
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    networks:
      - appnet

  mongodb:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - appnet

networks:
  appnet:

volumes:
  mongo_data: