name: App - Docker Build and Helm Deploy

on:
  push:
    branches: 
      - main
      - 'feature/*'
    paths:
      - "app/**"
      - "helm/**"
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  REGISTRY: ${{ vars.REGISTRY }}
  IMAGE_NAMESPACE: ${{ vars.IMAGE_NAMESPACE }}
  SHA: ${{ github.sha }}

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker Login
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push backend
        uses: docker/build-push-action@v6
        with:
          context: ./app/backend
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAMESPACE }}/backend:${{ env.SHA }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAMESPACE }}/backend:latest

      - name: Build & push frontend
        uses: docker/build-push-action@v6
        with:
          context: ./app/frontend
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAMESPACE }}/frontend:${{ env.SHA }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAMESPACE }}/frontend:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: AKS Kubeconfig
        run: |
          az aks get-credentials -g ${{ vars.AKS_RESOURCE_GROUP }} -n ${{ vars.AKS_CLUSTER_NAME }} --overwrite-existing

      - name: Deploy MongoDB
        run: |
          helm upgrade --install mongodb ./helm/mongodb

      - name: Deploy Backend
        run: |
          helm upgrade --install backend ./helm/backend \
            --set image.repository=${{ env.REGISTRY }}/${{ env.IMAGE_NAMESPACE }}/backend \
            --set image.tag=${{ env.SHA }}

      - name: Deploy Frontend
        run: |
          helm upgrade --install frontend ./helm/frontend \
            --set image.repository=${{ env.REGISTRY }}/${{ env.IMAGE_NAMESPACE }}/frontend \
            --set image.tag=${{ env.SHA }}

      - name: Show Services
        run: kubectl get svc -A
